@use "../../global.scss" as *;


.edit-inputs {
    background-color: $dark;
    border: none;
    color: $white !important;
    font-size: 1rem;

    &::placeholder {
        font-style: italic;
        color: $white !important;
    }
}

.edit-task:before {
        content: "Editar título: ";
        font-size: 0.9rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.1);
        color: $checked;
    }

.edit-description:before {
        content: "Editar descrição: ";
        font-size: 0.9rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.1);
        color: $checked;
    }
