$blue: #0C70F2;
$dark: #2D2D2D;
$gray: #D9D9D9;
$white: #ffffff;
$checked: #F9D1D1;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');